
.github-stats-card {
  max-width: 320px;
  margin: auto;
  width: 100%;
  padding: 0;
  background-color: #fff;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  display: flex;
  border: 1px solid #e9e9e9;
  flex-direction: column;
  flex-basis: 100%;
  font-size: 12px;
  line-height: 16px;
  box-shadow: 5px 10px 20px -10px rgba(0,0,0,.2);
  color: #24292e;

  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    margin: 0;
    padding: 20px 0 0;
    background-color: #f6f8fa;
    color: #24292e;
  

    h3 { 
      display: block;
      text-align: center;
      width: 100%;
      box-sizing: border-box;
      font-size: 18px;
      font-weight: 600;
      padding: 0 0 20px;
      margin: 0;
    
      a {
        display: inline-block;
        text-decoration: none;
        color: inherit;
        max-width: calc(100% - 30px);
        box-sizing: border-box;
        line-height: 24px;
        font-size: 18px;
        font-weight: 600;
        color: #0366d6;
      }
    }

    h4 {
      display: flex;
      justify-content: center;
      width: 100%;
      padding: 10px 0;
      margin: 0;
      font-weight: normal;
      font-style: italic;
      font-size: 12px;
      line-height: 16px;
      background-color: #24292e;
      color: #fff;
    }

    h5 {
      display: flex;
      width: 100%;
      background-color: #0366d6;
      color: #fff;
      justify-content: center;
      font-weight: 400;
      padding: 10px 0;
      margin: 0;
      box-sizing: border-box;
      font-size: 14px;
      
      span {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        margin: 0 5px;
        box-sizing: border-box;
        font-size: 13px;
        line-height: 18px;
        vertical-align: middle;
        
        b { margin-right: 3px; font-size: 16px; }
      }
    }
  }

  .rule {
    display: flex;
    flex-direction: column;
    width: calc(100% + 30px);
    margin: 0 -15px 10px;
    border: 0;
    border-bottom: 1px solid #efefef;
  }
  
  ol, 
  ul {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0 0 10px 10px;
  }

  ol {
    list-style: none;
    display: flex;
    width: 100%;
    flex-direction: row;
    padding: 0 0 10px 0;
    text-align: center;
    justify-content: space-around;

    li {
      &:first-of-type { order: 2; }
      &:nth-of-type(2) { order: 1; }
      &:last-of-type { order: 3; }
    }
  }
  
  ul { 
    list-style: none; 


    li {
      &:last-of-type {
        margin-bottom: 0;
      }
      
      b {
        font-size : 13px;
        font-family: Menlo, Monaco, monospace;
      }
    }
  }

  li {
    margin: 5px 0;
    color: #24292e;

    small { 
      display: block;
      font-size: 12px;
    }
    
    b { font-size: 13px; }
  }

  p {
    width: 100%;
    text-align: center;
    margin: 5px auto;
    color: #24292e;
  }

  > div {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 10px 15px;
  }

  div p { 
    font-weight: 400; 
    font-size: 14px; 
    
    b { font-weight: 400; font-size: 15px; }
  }

  footer {
    display: flex;
    align-items: center;
    height: 100px;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #f6f8fa;
    color: #24292e;
  
    img {
      max-width: 100px;
      box-sizing: border-box;
      display:block;
      margin: 0 15px 0 0;
    }
    
    section {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;
      padding: 10px 15px;
      
      p {
        margin: 0;
        padding-bottom: 2.5px;
        font-size: 11px;
        line-height: 14px;
        text-align: left;
        color: #586069;
        
        b { text-transform: uppercase; color: #586069; }
      }
    }

    a { 
      color: #586069;
      text-decoration:none;
      font-weight: 600;
    }
  }
}